.h1{
    font-family: Fantasy;
}

.tab {
    overflow: hidden;
    border: 2px solid ;
    background-color: cornflowerblue;

}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: dodgerblue;
}


.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    font-family: Arial;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.setFooter{
    font-family: Arial;
    font-style: italic ;
    font-size: small;
    color: coral;
    float: right;

}
.setButton{
    background-color: dodgerblue;
}
